<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/CSS/style2.css">
    </head>
    <body>
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>The prediction is : {{y}}</h1>
                <h3>0 represents Not-Placed</h3>
                <h3>1 represents Placed</h3>
            </div>
        </div>
    </div>
</section><!--End Hero--> 
    </body>
</html>